# git secret에 등록할 때 base64로 인코딩
server:
  port: 8080
  forward-headers-strategy: native

spring:
  config:
    import:
      - optional:file:.env.local[.properties]
      - optional:file:.env.prod[.properties]
  profiles:
    active: ${SPRING_PROFILES_ACTIVE}

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  messages:
    basename: messages

  devtools:
    restart:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: "{baseUrl}/login/oauth2/code/google"
          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            redirect-uri: "{baseUrl}/login/oauth2/code/kakao"
            authorization-grant-type: authorization_code
          naver:
            client-id: ${NAVER_CLIENT_ID}
            client-secret: ${NAVER_CLIENT_SECRET}
            redirect-uri: "{baseUrl}/login/oauth2/code/naver"
            authorization-grant-type: authorization_code
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
    region:
      static: ap-northeast-2
    s3:
      bucket: ${AWS_S3_BUCKET}
logging:
  level:
    org.hibernate.SQL: ${LOGGING_LEVEL_SQL}

quartzScheduler:
  enabled: true

sse:
  timeout: 600000

jwt:
  access-token:
    secret: ${JWT_ACCESS_TOKEN_SECRET}
    expiration: ${JWT_ACCESS_TOKEN_EXPIRATION}
  refresh-token:
    expiration: 86400

google:
  gemini:
    api:
      key: ${GOOGLE_GEMINI_API_KEY}

mistral:
  api-key: ${MISTRAL_API_KEY}
  model-name: ${MISTRAL_MODEL}

springdoc:
  swagger-ui:
    with-credentials: true

opensearch:
  host: ${OPENSEARCH_HOST}
  port: ${OPENSEARCH_PORT}
  schema: ${OPENSEARCH_SCHEMA}
  username: ${OPENSEARCH_USERNAME:}
  password: ${OPENSEARCH_PASSWORD:}